{% extends '@SonataAdmin/CRUD/base_show_field.html.twig' %}

{% block field_value %}
    {% trans_default_domain 'admin' %}
    {% if value is not empty %}
        <a href="{{ value }}" target="_blank">
            {{ value }}
        </a>
    {% endif %}
{% endblock %}